<div class="page-header">
    <h1>RFID</h1>
</div>
<div class="col-md-12">

    <div ng-show="!student">
        <div class="jumbotron">
            <h1>Scan An RFID Card</h1>
        </div>
    </div>

    <div ng-show="student && !student.exists">
        <div class="jumbotron">
            <h1>Invalid Card</h1>
        </div>
    </div>

    <div ng-show="student && student.exists">
        <div class="jumbotron">
            <h1>{{student.firstName}} {{student.lastName}}</h1>
            <p class="lead">
                {{student.email}}
            </p>
        </div>
    </div>

</div>
