<div class="page-header" ng-init="getStudents()">
    <h1>Search Students</h1>
</div>

<div class="container-flow">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="search" placeholder="Search..." autofocus>
    </div>

    <table class="table table-hover">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>RFID Card Number</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr dir-paginate="item in students | filter:search | itemsPerPage:20">
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.rfid}}</td>
                <td>
                    <a href="#/students.edit/{{item._id.$oid}}"><button class="btn btn-warning btn-xs">Edit</button></a>
                    <button ng-confirm-click="Are You Sure You Want To Delete {{item.firstName}} {{item.lastName}}?" class="btn btn-danger btn-xs" ng-click="remove(item)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <dir-pagination-controls auto-hide="false"></dir-pagination-controls>
</div>
