<div class="page-header" ng-init="getOne();">
    <h1>Edit Student</h1>
</div>
<div class="col-md-12">
    <form class="form-horizontal" ng-submit="update(student)">

        <div class="form-group" ng-class="{'has-error':!student.firstName}">
            <label>First Name</label>
            <input type="text" ng-model="student.firstName" placeholder="Enter Student First Name" class="form-control">
        </div>

        <div class="form-group" ng-class="{'has-error':!student.lastName}">
            <label>Last Name</label>
            <input type="text" ng-model="student.lastName" placeholder="Enter Student Last Name" class="form-control">
        </div>

        <div class="form-group" ng-class="{'has-error':!student.email}">
            <label>Email Address</label>
            <input type="email" ng-model="student.email" placeholder="Enter Student Email Address" class="form-control">
        </div>

        <div class="form-group" ng-class="{'has-error':!student.rfid}">
            <label>RFID Number</label>
            <input type="text" ng-model="student.rfid" placeholder="Enter Student RFID Number" class="form-control">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-default" ng-disabled="!student.firstName || !student.lastName || !student.email || !student.rfid">
        </div>

        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>

    </form>
</div>
