<div class="page-header">
    <h1>New Student</h1>
</div>
<div class="col-md-12">
    <form class="form-horizontal" ng-submit="create(new)">

        <div class="form-group" ng-class="{'has-error':!new.firstName}">
            <label>First Name</label>
            <input type="text" ng-model="new.firstName" placeholder="Enter Student First Name" class="form-control">
        </div>

        <div class="form-group" ng-class="{'has-error':!new.lastName}">
            <label>Last Name</label>
            <input type="text" ng-model="new.lastName" placeholder="Enter Student Last Name" class="form-control">
        </div>

        <div class="form-group" ng-class="{'has-error':!new.email}">
            <label>Email Address</label>
            <input type="email" ng-model="new.email" placeholder="Enter Student Email Address" class="form-control">
        </div>

        <div class="form-group" ng-class="{'has-error':!new.rfid}">
            <label>RFID Number</label>
            <input type="text" ng-model="new.rfid" placeholder="Enter Student RFID Number" class="form-control">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-default" ng-disabled="!new.firstName || !new.lastName || !new.email || !new.rfid">
        </div>

        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>

    </form>
</div>
