<html ng-app="JSM">

<head>
    <title>JSM</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/angular-loading-bar/loading-bar.min.css">
    <link rel="stylesheet" type="text/css" href="lib/angular-ui-notification/angular-ui-notification.min.css">
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-controller="main">

    <div class="header">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-flow">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">JSM</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Students <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ng-href="#/students">Search</a>
                                </li>
                                <li><a ng-href="#/students.create">Create</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#/rfid">RFID</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Me <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="logOut()">Log Out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-view=""></div>
    </div>

    <!-- Lib -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/moment/moment.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/angular-loading-bar/loading-bar.min.js"></script>
    <script src="lib/angular-ui-notification/angular-ui-notification.min.js"></script>
    <script src="lib/angular-utils-pagination/dirPagination.js"></script>
    <script src="lib/ui.bootstrap/ui-bootstrap-tpls-0.13.1.min.js"></script>

    <!-- App -->
    <script src="js/app.js"></script>

    <!-- Services -->
    <script src="js/services/students.js"></script>

    <!-- Directives -->
    <script src="js/directives/confClick.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/main.js"></script>
    <script src="js/controllers/students.js"></script>
    <script src="js/controllers/rfid.js"></script>

</body>

</html>
