<html>

<head>
    <title>JSM</title>
    <style>
        .wrapper{margin-top:80px;margin-bottom:20px;text-align:center}.form-signin{max-width:420px;padding:30px 38px 33px;margin:0 auto;background-color:#eee;border:3px dotted rgba(0,0,0,.1)}.form-signin-heading{text-align:center;margin-bottom:30px}.form-control{position:relative;font-size:16px;height:auto;padding:10px}input[type=text]{margin-bottom:0;border-bottom-left-radius:0;border-bottom-right-radius:0}input[type=password]{margin-bottom:20px;border-top-left-radius:0;border-top-right-radius:0}
    </style>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/bootstrap.min.css">
</head>

<body ng-app="Login" ng-init="state='main'">

    <div ng-controller="login">
        <div class="container">
            <div class="wrapper" ng-show="state=='main'">
                <form class="form-signin" ng-submit="login()">
                    <h3 class="form-signin-heading">JSM Login</h3>
                    <input type="text" class="form-control" placeholder="Username" required autofocus ng-model="auth.username">
                    <input type="password" class="form-control" placeholder="Password" required ng-model="auth.password">
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="submit" ng-disabled="!auth.username || !auth.password">Login</button>
                    <br>
                    <p>
                        <strong>Username: </strong> jsm<br>
                        <strong>Password: </strong> project
                    </p>
                    <div ng-show="failed">
                        <br>
                        <div class="alert alert-danger" role="alert">Incorrect Username Or Password.</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Shared -->
    <script src="/lib/angular/angular.min.js"></script>

    <!-- Script -->
    <script type="text/javascript">
        angular.module('Login', [])
            .controller('login', function($scope, $http, $location) {
                $scope.failed = false;
                $scope.auth = {};
                $scope.login = function() {
                    var auth = $scope.auth;
                    $http.post('/api/auth?username=' + auth.username + '&password=' + auth.password)
                        .success(function(data, status) {
                            $scope.failed = false;
                            console.log("Logged In Successfully");
                            location.href = "/";
                        })
                        .error(function(data, status) {
                            $scope.failed = true;
                            $scope.auth.password = '';
                        });
                };
            });

    </script>

</body>

</html>
